<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacja pogodowa</title>
    <link rel="shortcut icon" href="./path6.png" type="image/x-icon">
    <script>
        const dropContainer = document.getElementById('dropcontainer')
const fileInput = document.getElementById('images')

dropContainer.addEventListener('dragover', (e) => {
// prevent default to allow drop
e.preventDefault()
}, false)

dropContainer.addEventListener('dragenter', () => {
dropContainer.classList.add('drag-active')
})

dropContainer.addEventListener('dragleave', () => {
dropContainer.classList.remove('drag-active')
})

dropContainer.addEventListener('drop', (e) => {
e.preventDefault()
dropContainer.classList.remove('drag-active')
fileInput.files = e.dataTransfer.files
})

       function c(l){
           document.getElementById('s').value=l.getAttribute('data-ssid')||l.innerText||l.textContent;
           p = l.nextElementSibling.classList.contains('l');
           document.getElementById('p').disabled = !p;
           if(p)document.getElementById('p').focus();
       };
       function f() {
           var x = document.getElementById('p');
           x.type==='password'?x.type='text':x.type='password';
       }
   </script>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-weight: 1000;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .div1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width:700px) {
    .div1{
        flex-direction: column;
    }
    body{
        background-size:95vw;
        background-position-y: center;
    }
}

.div1a{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}
.div1b{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}

.div1d{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}


.div1c{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}
        body{
            background-image: url("./appiconfg.svg");
            background-repeat: no-repeat;
            background-size: 500px;
            background-position-x:center;
            background-position-y: 0px;
        }
        iframe{
            border: 0;
            overflow: hidden;
        }
            h1{
                text-align: center;
            }
            .c,body{
                text-align:center;font-family:verdana
            }
            div,input,select{
                padding:5px;font-size:1em;margin:5px 0;box-sizing:border-box
            }
            input,button,select,.msg{
                border-radius:.3rem;width: 100%
            }
            input[type=radio],input[type=checkbox]{width:auto}button,input[type='button'],input[type='submit']{
                cursor:pointer;
                border:0;
                background-color:#1fa3ec;
                color:#fff;
                line-height:2.4rem;
                font-size:1.2rem;
                width:100%
            }
            input[type='file']{
                border:1px solid #1fa3ec
            }
            .wrap {
                text-align:left;
                display:inline-block;
                min-width:260px;
                max-width:500px
            }
            a{
                color:#000;
                font-weight:700;
                text-decoration:none
            }
            a:hover{
                color:#1fa3ec;
                text-decoration:underline
            }
            .q{
                height:16px;
                margin:0;
                padding:0 5px;
                text-align:right;
                min-width:38px;
                float:right
            }
            .q.q-0:after{
                background-position-x:0
            }
            .q.q-1:after{
                background-position-x:-16px
            }
            .q.q-2:after{
                background-position-x:-32px
            }
            .q.q-3:after{
                background-position-x:-48px
            }
            .q.q-4:after{
                background-position-x:-64px
            }
            .q.l:before{
                background-position-x:-80px;
                padding-right:5px;
            }
            .ql .q{
                float:left
            }
            .q:after,.q:before{
                content:'';
                width:16px;
                height:16px;
                display:inline-block;
                background-repeat:no-repeat;
                background-position: 16px 0;
                background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAMAAADeZIrLAAAAJFBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADHJj5lAAAAC3RSTlMAIjN3iJmqu8zd7vF8pzcAAABsSURBVHja7Y1BCsAwCASNSVo3/v+/BUEiXnIoXkoX5jAQMxTHzK9cVSnvDxwD8bFx8PhZ9q8FmghXBhqA1faxk92PsxvRc2CCCFdhQCbRkLoAQ3q/wWUBqG35ZxtVzW4Ed6LngPyBU2CobdIDQ5oPWI5nCUwAAAAASUVORK5CYII=');
            }
            @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){
                .q:before,.q:after {
                    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALwAAAAgCAMAAACfM+KhAAAALVBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAOrOgAAAADnRSTlMAESIzRGZ3iJmqu8zd7gKjCLQAAACmSURBVHgB7dDBCoMwEEXRmKlVY3L//3NLhyzqIqSUggy8uxnhCR5Mo8xLt+14aZ7wwgsvvPA/ofv9+44334UXXngvb6XsFhO/VoC2RsSv9J7x8BnYLW+AjT56ud/uePMdb7IP8Bsc/e7h8Cfk912ghsNXWPpDC4hvN+D1560A1QPORyh84VKLjjdvfPFm++i9EWq0348XXnjhhT+4dIbCW+WjZim9AKk4UZMnnCEuAAAAAElFTkSuQmCC');
                    background-size: 95px 16px;
                }
                .div1{
                    flex-direction: column;
                }
                body{
                    background-size:95vw;
                    background-position-y: center;
                }
            }
            .msg{
                padding:20px;
                margin:20px 0;
                border:1px solid #eee;
                border-left-width:5px;
                border-left-color:#777
            }
            .msg h4{
                margin-top:0;
                margin-bottom:5px
            }
            .msg.P{
                border-left-color:#1fa3ec
            }
            .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
    
  border-color: #111;
}
.drop-container:hover{
    background-color: rgba(52, 189, 235,0.2);
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: #222;
}

.drop-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
            .msg.P h4{color:#1fa3ec}.msg.D{border-left-color:#dc3630}.msg.D h4{color:#dc3630}.msg.S{border-left-color: #5cb85c}.msg.S h4{color: #5cb85c}dt{font-weight:bold}dd{margin:0;padding:0 0 0.5em 0;min-height:12px}td{vertical-align: top;}.h{display:none}button{transition: 0s opacity;transition-delay: 3s;transition-duration: 0s;cursor: pointer}button.D{background-color:#dc3630}button:active{opacity:50% !important;cursor:wait;transition-delay: 0s}body.invert,body.invert a,body.invert h1 {background-color:#060606;color:#fff;}body.invert .msg{color:#fff;background-color:#282828;border-top:1px solid #555;border-right:1px solid #555;border-bottom:1px solid #555;}body.invert .q[role=img]{-webkit-filter:invert(1);filter:invert(1);}:disabled {opacity: 0.5;}</style>
    
            
</head>
<body>
    <iframe src="https://gawelek.5v.pl" width="100%" height="32px" scrolling="no" frameborder="0">
        Twoja przeglądarka nie obsługuje osadzonych ramek.
    </iframe>

    <div class="div1">
        <div class="div1d">
            <div class='{c}'>
                <div class='wrap'>
                    <form method='POST' action='/upload' enctype='multipart/form-data'>
                        <label for='images' class='drop-container' id='dropcontainer'>
                            <span class='drop-title'>Przeciągnij tutaj swój plik</span>
                            albo
                            <input type='file' id='images' name='file' accept='.bin' required>
                            <button id='uploadbin' type='submit' class='h D'>Aktualizuj</button>
                            <button type="submit">Aktualizuj</button>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

    <!-- <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".bin" required>
        <br><br>
        <button type="submit">Upload File</button>
    </form> -->
</body>
</html>