<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacja pogodowa</title>
    <link rel="shortcut icon" href="./path6.png" type="image/x-icon">
    <script>
        const dropContainer = document.getElementById('dropcontainer')
const fileInput = document.getElementById('images')

dropContainer.addEventListener('dragover', (e) => {
// prevent default to allow drop
e.preventDefault()
}, false)

dropContainer.addEventListener('dragenter', () => {
dropContainer.classList.add('drag-active')
})

dropContainer.addEventListener('dragleave', () => {
dropContainer.classList.remove('drag-active')
})

dropContainer.addEventListener('drop', (e) => {
e.preventDefault()
dropContainer.classList.remove('drag-active')
fileInput.files = e.dataTransfer.files
})

       function c(l){
           document.getElementById('s').value=l.getAttribute('data-ssid')||l.innerText||l.textContent;
           p = l.nextElementSibling.classList.contains('l');
           document.getElementById('p').disabled = !p;
           if(p)document.getElementById('p').focus();
       };
       function f() {
           var x = document.getElementById('p');
           x.type==='password'?x.type='text':x.type='password';
       }
   </script>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-weight: 1000;
            color: black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .div1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width:700px) {
    .div1{
        flex-direction: column;
    }
    body{
        background-size:95vw;
        background-position-y: center;
    }
    input[type=file] {
        width: 240px !important;
    }
}

.div1a{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}
.div1b{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}

.div1d{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}


.div1c{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 189, 235,0.8);
    backdrop-filter: blur(8px);
}
        body{
            background-image: url("./appiconfg.svg");
            background-repeat: no-repeat;
            background-size: 500px;
            background-position-x:center;
            background-position-y: 0px;
            position: relative;
            top: -5px;
        }
            h1{
                text-align: center;
            }
            .c,body{
                text-align:center;font-family:verdana
            }
            div,input,select{
                padding:5px;font-size:1em;margin:5px 0;box-sizing:border-box
            }
            input,button,select,.msg{
                border-radius:.3rem;width: 100%
            }
            input[type=radio],input[type=checkbox]{width:auto}button,input[type='button'],input[type='submit']{
                cursor:pointer;
                border:0;
                background-color: #084CDF;
                color:#fff;
                line-height:2.4rem;
                font-size:1.2rem;
                width:100%
            }
            button:hover{
                background-color:#0D45A5;
            }
            input[type='file']{
                border:1px solid #1fa3ec
            }
            .wrap {
                text-align:left;
                display:inline-block;
                min-width:160px;
                max-width:500px
            }
            a{
                color:#000;
                font-weight:700;
                text-decoration:none
            }
            a:hover{
                color:#1fa3ec;
                text-decoration:underline
            }
            .q{
                height:16px;
                margin:0;
                padding:0 5px;
                text-align:right;
                min-width:38px;
                float:right
            }
            .q.q-0:after{
                background-position-x:0
            }
            .q.q-1:after{
                background-position-x:-16px
            }
            .q.q-2:after{
                background-position-x:-32px
            }
            .q.q-3:after{
                background-position-x:-48px
            }
            .q.q-4:after{
                background-position-x:-64px
            }
            .q.l:before{
                background-position-x:-80px;
                padding-right:5px;
            }
            .ql .q{
                float:left
            }
            .q:after,.q:before{
                content:'';
                width:16px;
                height:16px;
                display:inline-block;
                background-repeat:no-repeat;
                background-position: 16px 0;
                background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAMAAADeZIrLAAAAJFBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADHJj5lAAAAC3RSTlMAIjN3iJmqu8zd7vF8pzcAAABsSURBVHja7Y1BCsAwCASNSVo3/v+/BUEiXnIoXkoX5jAQMxTHzK9cVSnvDxwD8bFx8PhZ9q8FmghXBhqA1faxk92PsxvRc2CCCFdhQCbRkLoAQ3q/wWUBqG35ZxtVzW4Ed6LngPyBU2CobdIDQ5oPWI5nCUwAAAAASUVORK5CYII=');
            }
            @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){
                .q:before,.q:after {
                    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALwAAAAgCAMAAACfM+KhAAAALVBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAOrOgAAAADnRSTlMAESIzRGZ3iJmqu8zd7gKjCLQAAACmSURBVHgB7dDBCoMwEEXRmKlVY3L//3NLhyzqIqSUggy8uxnhCR5Mo8xLt+14aZ7wwgsvvPA/ofv9+44334UXXngvb6XsFhO/VoC2RsSv9J7x8BnYLW+AjT56ud/uePMdb7IP8Bsc/e7h8Cfk912ghsNXWPpDC4hvN+D1560A1QPORyh84VKLjjdvfPFm++i9EWq0348XXnjhhT+4dIbCW+WjZim9AKk4UZMnnCEuAAAAAElFTkSuQmCC');
                    background-size: 95px 16px;
                }
                .div1{
                    flex-direction: column;
                }
                body{
                    background-size:95vw;
                    background-position-y: center;
                }
            }
            .msg{
                padding:20px;
                margin:20px 0;
                border:1px solid #eee;
                border-left-width:5px;
                border-left-color:#777
            }
            .msg h4{
                margin-top:0;
                margin-bottom:5px
            }
            .msg.P{
                border-left-color:#1fa3ec
            }
            .drop-container {
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
    
  border-color: #111;
}
.drop-container:hover{
    background-color: rgba(52, 189, 235,0.2);
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: #222;
}

.drop-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#aktywnosc1{
    width:100%;
    text-align:center;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    background-color:green;
}
#aktywnosc2{
    width:100%;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    background-color:red;
}

a{
    color: #000000;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
            .msg.P h4{color:#1fa3ec}.msg.D{border-left-color:#dc3630}.msg.D h4{color:#dc3630}.msg.S{border-left-color: #5cb85c}.msg.S h4{color: #5cb85c}dt{font-weight:bold}dd{margin:0;padding:0 0 0.5em 0;min-height:12px}td{vertical-align: top;}.h{display:none}button{transition: 0s opacity;transition-delay: 3s;transition-duration: 0s;cursor: pointer}button.D{background-color:#dc3630}button:active{opacity:50% !important;cursor:wait;transition-delay: 0s}body.invert,body.invert a,body.invert h1 {background-color:#060606;color:#fff;}body.invert .msg{color:#fff;background-color:#282828;border-top:1px solid #555;border-right:1px solid #555;border-bottom:1px solid #555;}body.invert .q[role=img]{-webkit-filter:invert(1);filter:invert(1);}:disabled {opacity: 0.5;}</style>
    
            
</head>
<body>
    <div id="aktywnosc1">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
              </svg>
        </a>
            <p>Urządzenie jest aktywne</p>
            <a href="/update">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0"/>
              </svg>
            </a>
    </div>
    <div id="aktywnosc2">
        <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
          </svg>
    </a>
    <p>Urządzenie niejest aktywne</p>
    <a href="/update">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0"/>
          </svg>
        </a>
    </div>
    <script>
        function checkStatus() {
            fetch('/status')
                .then(response => response.json())
                .then(data => {
                    const activeStatusDiv1 = document.getElementById('aktywnosc1');
                    const activeStatusDiv2 = document.getElementById('aktywnosc2');
            
                    if (data.status === 'connected') {
                        activeStatusDiv1.style.display = 'flex'; // Pokaż div z aktywnym statusem
                        activeStatusDiv2.style.display = 'none'; // Pokaż div z aktywnym statusem
                    } else {
                        activeStatusDiv1.style.display = 'none'; // Ukryj div, gdy nie jest połączone
                        activeStatusDiv2.style.display = 'flex'; // Ukryj div, gdy nie jest połączone
                    }
            })
        }
    </script>

    <div class="div1">
        <div class="div1d">
            <div class='{c}'>
                <div class='wrap'>
                    <form method='POST' action='/upload' enctype='multipart/form-data'>
                        <label for='images' class='drop-container' id='dropcontainer'>
                            <span class='drop-title'>Przeciągnij tutaj swój plik</span>
                            <p>albo</p>
                            <input type='file' id='images' name='file' accept='.bin' required>
                            <button type="submit">Aktualizuj</button>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        setInterval(checkStatus, 5000);
        checkStatus();
    </script>
</body>
</html>